<IfModule mod_rewrite.c>
   php_value post_max_size 200M
   php_value upload_max_filesize 200M
   php_value memory_limit 300M
   php_value max_execution_time 259200
   php_value max_input_time 259200
   php_value session.gc_maxlifetime 1200
   
php_value max_input_vars 6000
php_value suhosin.get.max_vars 6000
php_value suhosin.post.max_vars 6000
php_value suhosin.request.max_vars 6000

RewriteEngine on

RewriteRule ^aboutus/?$ aboutus.php [NC,L]  

RewriteRule ^contactus/?$ contactus.php [NC,L]

RewriteRule ^contributors/?$ contributors.php [NC,L]

RewriteRule ^faq/?$ faq.php [NC,L]

RewriteRule ^privacy_policy/?$ privacy_policy.php [NC,L]

RewriteRule ^terms_of_uses/?$ terms_of_uses.php [NC,L]

RewriteRule ^login/?$ login.php [NC,L]

RewriteRule ^register/?$ register.php [NC,L]

RewriteRule ^search_data/?$ search.php [NC,L]

RewriteRule ^category/([0-9]+)/?$ coverage.php?id=$1 [NC,L]

RewriteRule ^category_detail/([0-9]+)/([-0-9a-zA-Z_/%&#]+) category_detail.php?cat_id=$1&subject_name=$2 [B]

RewriteRule ^article/([0-9]+)/([0-9]+) book_show.php?cat_id=$1&book_id=$2

RewriteRule ^flip/([0-9]+)/([0-9]+) book_flip.php?cat_id=$1&book_id=$2

</ifModule>
